.deleteForm {
  display: inline-block
}


body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

header.masthead {
  position: relative;
  background-color: #fff;
  background: url("https://image.freepik.com/free-vector/reading-list-concept-illustration_114360-1005.jpg") no-repeat right center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

header.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.2;
}

header.masthead h1 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

.showcase .showcase-text {
  padding: 3rem;
}

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
}

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem;
  }
}

.features-icons {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.features-icons .features-icons-item {
  max-width: 20rem;
}

.features-icons .features-icons-item .features-icons-icon {
  height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
  font-size: 4.5rem;
}

.features-icons .features-icons-item:hover .features-icons-icon i {
  font-size: 5rem;
}

.testimonials {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.testimonials .testimonial-item {
  max-width: 18rem;
}

.testimonials .testimonial-item img {
  max-width: 12rem;
  box-shadow: 0px 5px 5px 0px #adb5bd;
}

.call-to-action {
  position: relative;
  background-color: #343a40;
  background: url("./img/bg-masthead.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.call-to-action .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.form-signin .checkbox{
  margin-bottom: 10px;
  margin-top: 10px;
}

/* styling for checkboxes at single reminder page */
.todo-list {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding: 0 0px 0px 30px;
  box-shadow: 2px 2px 10px #6cb4f3, 2px 2px 10px #6cb4f3;
  background: #4682B4;
  border-radius: 10px;
  border: transparent;
}
.todo-list .todo-list__title {
  padding: 3px 15px;
  color: #4682B4;
  font-size: larger;

  border-radius: 10px;
  background-color: #bcd3df;
}
.todo-list .todo-list__label {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  color: #f1faee;
  cursor: pointer;
}
.todo-list .todo-list__label input[type="checkbox"] {
  opacity: 0;
  -webkit-appearance: none;
    -moz-appearance: none;
          appearance: none;
}
.todo-list .todo-list__label input[type="checkbox"] + .check {
  position: absolute;
  width: 15px;
  height: 15px;
  border: 2px solid #f1faee;
  border-radius: 3px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.todo-list .todo-list__label input[type="checkbox"]:checked + .check {
  width: 15px;
  height: 15px;
  border-top: transparent;
  border-right: transparent;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.todo-list .todo-list__label input[type="checkbox"] ~ span {
  position: relative;
  font-size: medium;
  left: 25px;
  white-space: nowrap;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.todo-list .todo-list__label input[type="checkbox"] ~ span::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 100%;
  height: 3px;
  background: #ebbd25;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.todo-list .todo-list__label input[type="checkbox"]:checked ~ span {
  color: #585b57;
}
.todo-list .todo-list__label input[type="checkbox"]:checked ~ span::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

#friends-container{
  align-self: center;
  background-color: #7aacd4;
  display: flex;
  max-width: 50rem;
  padding: 5%;
  margin-top: 5rem; 
}

.app-users{
  align-self: center;
  padding: 5%;
}

